h2, .portfolioInfo, p, .positions-title{
    color: white;
    text-align: center;
}

.portfolio-form{
    padding-top: 30px;
    color: white;
    text-align: center;
    height: 0px;
    font-size: 35px;
}

.portfolioInfo {
    font-size: 22px;
}

.portfolioInfo > h1 {
    font-size: 50px;
}

.positions{
    margin: 30px 100px 50px 100px;
    text-align: center;
    height: 0px;
    font-size: 20px;
}

.positions-title{
    padding-top: 60px;
}
